*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --heading-background-color: steelblue;
    --heading-text-color: steelblue;
    --alternate-font-color: #42280E;
    --alsternate-background-color: tan;
    --padding: 5px;
    --border: 2px solid gold;
}
nav {
    background-color: var(--heading-background-color);
    padding: 10px;
    color: white;
}
nav a {
    color: gold;
    display: block;
    padding: var(--padding);
    background-color: var(--heading-background-color)
}
main {
    max-width: 840px;
}
h1 {
    color: var(--heading-text-color);
    background-color: white;
    margin: 1rem;
}
main img {
    float: right;
    width: 150px;
    height: auto;
    border: var(--border);
    padding: var(--padding);
    box-shadow: 0 0 30px gray;
    margin: 1rem;
    background-color: var(--alsternate-background-color);
}
p {
    padding: 2rem;
}
aside{
    position: relative;
    width: 15rem;
    margin: 1rem;
    border: var(--border);
    padding: var(--padding) ;
    background-color: tan;
    color: #42280E;
}
aside h2 {
    position: absolute;
    top: 30px;
    left: 120px;
}
aside img {
    width:200px;
    height:auto;

}
footer{
    margin-top: 5px;
    border-top: solid var(--heading-background-color);
    text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    padding: 1rem;
    border: 2px solid gold;
    background-color: tan;
    color:#42280E;
    width: 15rem;
}